@keyframes animation-click-Desktop-1-A____girl____st_1-removebg-preview1-31-Desktop-1-322 {
    from {
      transform: rotate(0deg);
      top: 190px;
      left: 1049px;
      /*visibility: visible;*/
      opacity: 1;
      z-index: 1;
      width: 374px;
      height: 666px;
      border: 0px solid transparent;
    }
    to {
      transform: rotate(0deg);
      top: 190px;
      left: 1049px;
      width: 374px;
      height: 666px;
      /*visibility: visible;*/
      opacity: 1;
      z-index: 1;
      border: 0px solid transparent;
  
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .class-click-Desktop-1-A____girl____st_1-removebg-preview1-31-Desktop-1-322 {
    animation: animation-click-Desktop-1-A____girl____st_1-removebg-preview1-31-Desktop-1-322
      5s ease-in-out 0s normal forwards;
  }
  @keyframes bgAnimation-click-Desktop-1-A____girl____st_1-removebg-preview1-31-Desktop-1-322 {
    from {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    to {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background: url(https://s3-alpha-sig.figma.com/img/74f1/8196/8fe147eb096b408d51f0a9363e437943?Expires=1702252800&Signature=f7~xmF0nYNX5Lf~xPXLibE7aDx5mJ1AM1gYLtNhUwmDIJOpvX1888qc~ZugIdnA0b7Ahe6elmf7S1DGwXKWL9Y-QAhN82G~eHz~pqvPBgREiABS2DMjqfIdeWtQWA5RSZN6dbdwFhbrZpe5K-NqHGBi1HBRmVlLYLzxDJaqIG7e~hJ3AqvcfzyPOYOcL7MmNLDHAV6IeGJcqzddGfGHd2nIubCK1ONjxNA-YCHOfsXj7tIG7OO78T-3Y2iYjeT3KuZbVKz8B~hMPuM~ILQ0DlB06N0AXdGeZIXtwOHU4WDBk0h4-Kmrl3ID32IaaJ4oZGS-1nAPOPHf0-q134X36Jw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-color: transparent;
      background-color: transparent;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .bgClass-click-Desktop-1-A____girl____st_1-removebg-preview1-31-Desktop-1-322 {
    animation: bgAnimation-click-Desktop-1-A____girl____st_1-removebg-preview1-31-Desktop-1-322
      5s ease-in-out 0s forwards;
  }
  @keyframes animation-click-Desktop-1-A____boy____sta_0-removebg-preview1-31-Desktop-1-322 {
    from {
      transform: rotate(0deg);
      top: 123px;
      left: 860px;
      /*visibility: visible;*/
      opacity: 1;
      z-index: 2;
      width: 377px;
      height: 733px;
      border: 0px solid transparent;
    }
    to {
      transform: rotate(0deg);
      top: 123px;
      left: 860px;
      width: 377px;
      height: 733px;
      /*visibility: visible;*/
      opacity: 1;
      z-index: 2;
      border: 0px solid transparent;
  
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .class-click-Desktop-1-A____boy____sta_0-removebg-preview1-31-Desktop-1-322 {
    animation: animation-click-Desktop-1-A____boy____sta_0-removebg-preview1-31-Desktop-1-322
      5s ease-in-out 0s normal forwards;
  }
  @keyframes bgAnimation-click-Desktop-1-A____boy____sta_0-removebg-preview1-31-Desktop-1-322 {
    from {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    to {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background: url(https://s3-alpha-sig.figma.com/img/1f25/c42a/9b6d948e55d4744be5c0976e5b92df4a?Expires=1702252800&Signature=amfYeOA3bi14n~W1tYeMWv1E9QfAG1boYl9Up~JYU63szZVCVpX8P1ts65xfyPjbQv58wvNg86GojbbdV162delGQu6CfvMLpW8EJtGbAhne93evI5WMAnxugpITwnEWH-tePbF4MAU3eLZzkeb8QJv7w70Q6Pv5A8Pzm~8lHhN6Lar0ER9Xwdcv1YUe1r0RFnx3wKSR727vQUGnossmv1OotW~tT0KlYPzCjLfjexo7if-oh9p87x09n4v7JABhkI7AIaZ8xbrV88l~jr~Mq~wr1OHmPFtPBQAUB830KrVEqBMeTuT~vdomQ7d0j3CQ9sBLYZt2BshD~02YgKPh9g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-color: transparent;
      background-color: transparent;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .bgClass-click-Desktop-1-A____boy____sta_0-removebg-preview1-31-Desktop-1-322 {
    animation: bgAnimation-click-Desktop-1-A____boy____sta_0-removebg-preview1-31-Desktop-1-322
      5s ease-in-out 0s forwards;
  }
  @keyframes animation-click-Desktop-1-png-transparent-robot-humanoid-robot-military-robot-artificial-intelligence-robotics-electronics-desktop-wallpaper-robot-thumbnail-removebg-preview1-31-Desktop-1-322 {
    from {
      transform: rotate(0deg);
      top: 400px;
      left: 192px;
      /*visibility: visible;*/
      opacity: 1;
      z-index: 3;
      width: 360px;
      height: 456px;
      border: 0px solid transparent;
    }
    to {
      transform: rotate(0deg);
      top: 400px;
      left: 192px;
      width: 360px;
      height: 456px;
      /*visibility: visible;*/
      opacity: 1;
      z-index: 3;
      border: 0px solid transparent;
  
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .class-click-Desktop-1-png-transparent-robot-humanoid-robot-military-robot-artificial-intelligence-robotics-electronics-desktop-wallpaper-robot-thumbnail-removebg-preview1-31-Desktop-1-322 {
    animation: animation-click-Desktop-1-png-transparent-robot-humanoid-robot-military-robot-artificial-intelligence-robotics-electronics-desktop-wallpaper-robot-thumbnail-removebg-preview1-31-Desktop-1-322
      5s ease-in-out 0s normal forwards;
  }
  @keyframes bgAnimation-click-Desktop-1-png-transparent-robot-humanoid-robot-military-robot-artificial-intelligence-robotics-electronics-desktop-wallpaper-robot-thumbnail-removebg-preview1-31-Desktop-1-322 {
    from {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    to {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background: url(https://s3-alpha-sig.figma.com/img/a612/0565/a62861c85e7703ed857106d2a6538cd0?Expires=1702252800&Signature=ihHpcyO29ct29M3QdwKlMNEBOAP5oYa~ubxOv0CONORO~oGpdZNpT3uITXuHNT1mqpkMLJSivuAiGEugxWvNC6EabbZAYbFf-yz93S5wwJtcrlSfjgv23Tgt3A2DeOIriGW18qurhaRpbiefRXd20FMBzUDwCXceX14uLOIgSNzezeFSCc1rGBoKldJBJK~t-2q70sZFps2yJ0hVj~ml48sZ-qxd6A0Nhkm0WEAxnBsXMwbQm5IGtB8YQ62S3ThxkNcpMHnMBFWOXZkS5~SK9~Pg7QZPqqWa6LRPHY3~4izPXtScTv9L15XL46CasbKkqOm8anUNKQkvzqLsIQF7iw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-color: transparent;
      background-color: transparent;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .bgClass-click-Desktop-1-png-transparent-robot-humanoid-robot-military-robot-artificial-intelligence-robotics-electronics-desktop-wallpaper-robot-thumbnail-removebg-preview1-31-Desktop-1-322 {
    animation: bgAnimation-click-Desktop-1-png-transparent-robot-humanoid-robot-military-robot-artificial-intelligence-robotics-electronics-desktop-wallpaper-robot-thumbnail-removebg-preview1-31-Desktop-1-322
      5s ease-in-out 0s forwards;
  }
  @keyframes animation-click-Desktop-1-wp350137-soccer-balls-wallpapers-removebg-preview1-31-Desktop-1-322 {
    from {
      transform: rotate(0deg);
      top: 756px;
      left: -229px;
      /*visibility: visible;*/
      opacity: 0.5;
      z-index: 4;
      width: 100.33783721923828px;
      height: 100px;
      border: 0px solid transparent;
    }
    to {
      transform: rotate(-180deg);
      top: 782.2575713396072px;
      left: 151.4980272239652px;
      width: 108.62068939208984px;
      height: 100px;
      /*visibility: visible;*/
      opacity: 1;
      z-index: 4;
      border: 0px solid transparent;
  
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .class-click-Desktop-1-wp350137-soccer-balls-wallpapers-removebg-preview1-31-Desktop-1-322 {
    animation: animation-click-Desktop-1-wp350137-soccer-balls-wallpapers-removebg-preview1-31-Desktop-1-322
      5s ease-in-out 0s normal forwards;
  }
  @keyframes bgAnimation-click-Desktop-1-wp350137-soccer-balls-wallpapers-removebg-preview1-31-Desktop-1-322 {
    from {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    to {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background: url(https://s3-alpha-sig.figma.com/img/0b03/b731/4f3cfe93ca991797de18ebafc58552f5?Expires=1702252800&Signature=kx5yYVTue~AfGgEBKfuOZqgWKgzkPQiOZzHw~HannG1COAhsd7-VEyUHmyMinCxA~P18O92BX73gwc-mKkfYmGyK8Up-PTEflNS3Qtbj~-cndVDgIhUpxKJOLaPH0YHbi~fCQdkiuFvIFFoMDrhtaOVqyE7DMMsUzVqzFw1mxZFyNkQS43e50iYZHBRPhM9ikpk-aFNBuwVs241xfnhVYAU4ag98hfZCpmupw2JzOlvn3MBk7eQoGyaGkVE2QA2lCteGQuSqXAp~UH6l7UlZUXf~dET-q8arpjQrBixTamivg1EUECtzRH4OOlnBgK2m~DgweUm6HQfdZWNigADymw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-color: transparent;
      background-color: transparent;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .bgClass-click-Desktop-1-wp350137-soccer-balls-wallpapers-removebg-preview1-31-Desktop-1-322 {
    animation: bgAnimation-click-Desktop-1-wp350137-soccer-balls-wallpapers-removebg-preview1-31-Desktop-1-322
      5s ease-in-out 0s forwards;
  }
  @keyframes animation-click-Desktop-1-Desktop-1-322 {
    from {
      transform: rotate(0deg);
      top: 0px;
      left: 0px;
      /*visibility: visible;*/
      opacity: 1;
      z-index: 1;
      width: 1440px;
      height: 1024px;
      border-radius: 0px;
    }
    to {
      transform: rotate(0deg);
      top: 0px;
      left: 0px;
      width: 1440px;
      height: 1024px;
      /*visibility: visible;*/
      opacity: 1;
      z-index: 2;
      border-radius: 0px;
      background-image: linear-gradient(
        180deg,
        rgba(156, 83, 207, 1) 0%,
        rgba(199, 19, 208, 1) 100%
      );
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .class-click-Desktop-1-Desktop-1-322 {
    animation: animation-click-Desktop-1-Desktop-1-322 5s ease-in-out 0s normal
      forwards;
  }
  